REACT_APP_BASE_URL=localhost:3000
REACT_APP_FIREBASE_API_KEY=
REACT_APP_FIREBASE_DOMAIN=
REACT_APP_DATABASE_URL=
REACT_APP_FIREBASE_PROJECT_ID=
REACT_APP_FIREBASE_MESSAGING_CERT=
REACT_APP_FIREBASE_MESSAGING_ID=
