input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.App-link {
  color: #61dafb;
}

.App {
  height: 100%;
  text-align: center;
  flex-direction: column;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  display: flex;
}

input[type="button"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.toast {
  min-height: 60px;
  min-width: 120px;
  background-color: "blue";
  bottom: 0px;
  right: 0px;
  position: absolute;
}

.button {
  height: "50px";
  width: "100px";
  background-color: "blue";
}
