.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
  transform: translateX(24px);
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 400ms linear 400ms, transform 400ms ease-out 400ms;
}

.fade-exit {
  opacity: 1;
  transform: translateX(0);
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translateX(-24px);
  transition: opacity 400ms linear, transform 400ms ease-in;
}
